body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column; /* 确保内容垂直堆叠 */
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
}

.section h2 {
    background-color: #f1f1f1; /* 示例颜色，可替换为您喜欢的颜色 */
    padding: 10px; /* 根据需要调整内边距 */
    display: inline-block;
    margin-bottom: 10px; /* 保持段落间距，按需调整 */
}

.header-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    /* 在左右两侧各添加边界，例如20px */
    padding: 20px 20px; 
    opacity: 0.85;
    background-color: rgba(255, 255, 255, 0.85)
    width: 100%;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 2rem auto 0; /* 上边距确保与.header-bar有间隔 */
    display: flex;
    flex-direction: row; /* 横向排列 */
    gap: 8rem;
}

.section {
    flex: 1;
    margin-right: 2rem;
    background-color: rgba(255, 255, 255, 0.85);
    padding: 2rem;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    transition: all 0.3s ease;
}
.section:last-child {
    margin-right: 0;
}
.section:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
h2 a, ul a {
    text-decoration: none;
    color: #333;
}
ul {
    list-style-type: none;
    padding: 0;
    margin-top: 1rem;
}
ul li {
    margin-bottom: 0.5rem;
}
/* 如果需要在小屏幕下改为竖向排列，可以加入以下媒体查询 */
@media (max-width: 767px) {
    .container {
        flex-direction: column;
    }
    .section {
        margin-right: 0; /* 在列布局下不需要右侧外边距 */
        margin-bottom: 2rem; /* 添加底部外边距以分隔每个框 */
    }
    .section:last-child {
        margin-bottom: 0; /* 移除最后一个框的底部外边距 */
    }
}
